body {
    background: burlywood;
}

h1, p {
    text-align: center;
}

footer {
    text-align: center;
}

footer a{
    margin: 0 10px;
    color: aquamarine;
}

img {
    height: 50%;
    width: 50%;
    object-fit: contain;
    display: block;
  margin-left: auto;
  margin-right: auto;
   }